{% extends 'base.html' %}
{% load static %}

{% block content_wrapper %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid home" style="width:100%;">

      <h1>Bonjour je suis la page d'accueil de Cindy</h1>
      
    </div>
    <!-- /.content -->
  </div>
{% endblock %}